<style>
/* ################
ADS
################*/
.stickers-ls
{
width: 100%;
background-color: #FFF;
margin: 10px 0px;
display: flex;

}
.stickers-ls div:last-child
{
margin-right: 0%;
}
.sticker-ls
{
box-sizing: border-box;
width: 25%;
box-shadow: 0 0 5px 0 #edeeee;
border: 1px solid #edeeee;
margin-right: 1%;
border-radius: 5px 5px 5px 5px;
}
.sticker-ls img
{
box-sizing: border-box;
padding: 0px;
display: inline-block;
border-radius: 4px 4px 0px 0px;
width: 100%;
}
.sticker-ls-footer
{

}
.sticker-ls-footer-bio a
{
font-size: 14px;
text-align: center;
height: 20px;
line-height: 20px;
display: block;
color: black;
font-weight: normal;
}
.sticker-ls-footer-btn a
{
font-size: 14px;
text-align: center;
height: 20px;
line-height: 20px;
display: block;
color: #09f;
font-weight: 700;
}



.stickers2-ls
{
box-sizing: border-box;
width: 100%;
background-color: #FFF;
margin: 10px 0px;
box-shadow: 0 0 5px 0 #edeeee;
border: 1px solid #edeeee;
padding: 5px 5px 5px 5px;
border-radius: 5px 5px 5px 5px;
}
.sticker2-ls-profile
{
display: flex;
}
.sticker2-ls-profile div:last-child
{
margin-right: 0%;
}
.sticker2-ls
{
box-sizing: border-box;
width: 25%;
box-shadow: 0 0 5px 0 #edeeee;
border: 1px solid #edeeee;
margin-right: 1%;
border-radius: 5px 5px 5px 5px;
}
.sticker2-ls img
{
box-sizing: border-box;
padding: 0px;
display: inline-block;
border-radius: 4px 4px 0px 0px;
width: 100%;
}
.sticker2-ls-footer
{

}
.sticker2-ls-footer-bio a
{
font-size: 14px;
text-align: center;
height: 20px;
line-height: 20px;
display: block;
color: black;
font-weight: normal;
}
.sticker2-ls-footer-btn a
{
font-size: 14px;
text-align: center;
height: 20px;
line-height: 20px;
display: block;
color: #09f;
font-weight: 700;
}
.sticker2-ls-copy
{
display: block;
padding: 5px 5px 0px 5px;
font-weight: 700;
}
.sticker2-ls-cta
{
display: block;
padding: 5px 5px;
color: #09f;
font-weight: 700;
}
/*
.sticker-box
{
box-sizing: border-box;
width: 48%;
float: left;
box-shadow: 0 0 5px 0 #edeeee;
border: 1px solid #edeeee;
margin: 1%;
border-radius: 5px 5px 5px 5px;
}
.sticker-box img
{
box-sizing: border-box;
padding: 0px;
display: inline-block;
border-radius: 4px 4px 0px 0px;
width: 100%;
}
.sticker-box-name
{
margin: 5px 0px 10px 6px;
}
.sticker-box-footer a
{
display: block;
height: 45px;
line-height: 45px;
text-align: center;
color: #000;
font-size: 20px;
border-top: 1px solid #edeeee;
}
*/

.adwv2-banner
{
box-shadow: 0 0 5px 0 #edeeee;
border: 1px solid #edeeee;
}
.adw-banner
{
width: 100%;
background-color: #FFF;
margin: 10px 0px;
}
.adw-banner-imgs
{
width: 100%;
max-height: 120px;
display: flex;
flex-wrap: nowrap;
overflow: hidden;
}
.adw-banner-img
{
width: 25%;
box-sizing: border-box;
}
.adw-banner-img img
{
width: 100%;
}
.adw-banner-bar
{
width: 100%;
font-weight: bold;
padding: 5px 0px;
}
.adw-banner-copy
{
padding: 0px;
}
.adw-banner-copy-left
{
float:left;
}
.adw-banner-copy-left a
{
color: #09f;
font-weight: 700;
}
.adw-banner-copy-right
{
float:right;
}
.adw-banner-copy-right a
{
color: #09f;
font-weight: 700;
}
.adw-sff
{
clear: both;
margin-top: 10px;
margin-bottom: 10px;
}
.adw-app-bg
{
background-color: #FFF;
box-sizing: border-box;
height: 50px;
margin-bottom: 10px;
}
.adw-app-left
{
box-sizing: border-box;
float: left;
width: 70%;

}
.adw-app-left img
{
box-sizing: border-box;
padding: 2px;
display: inline-block;
max-width: 50px;
max-height: 50px;
float: left;
margin-right: 5px;
border-radius: 50%;
}
.adw-app-txt
{
padding-top: 6px;
}
.adw-app-txt-1
{
font-weight: bold;
display: inline-block;
padding-bottom: 3px;
}
.adw-app-txt-2
{
display: inline-block;
background-color: #E6E5EB;
border-radius: 20px;
padding: 2px 5px;
}
.adw-app-txt-2 i
{
font-size: 12px;
color: red;
}
.adw-app-right
{
text-align: right;
box-sizing: border-box;
float: right;
width: 30%;
height: 50px;
line-height: 50px;
padding-right: 10px;
}
.adw-app-right a
{
color: #09f;
padding: 5px 15px;
font-size: 14px;
font-weight: bold;
text-decoration: underline;
border-radius: 3px;

}

.footer-disclaimer {
margin-top: 10px;
background-color: #F8F9FA;
color: #AAAAAA;
padding: 10px;
line-height: 18px;
}
</style>

<div class="adw-banner">
                
                <div class="stickers-ls">

                <div class="sticker-ls">
                <a rel="nofollow" target="_blank" href="https://sweetadultclub.com/plnseqwtbnjuj?t=photo1"><img alt="snapchat nude" src="https://snapnsfw.com/i/snapshot/snap/en_b_2_1.jpg"></a>
                <div class="sticker-ls-footer-bio"><a rel="nofollow" target="_blank" href="https://sweetadultclub.com/plnseqwtbnjuj?t=city1"> <span id="city"></span> / 19</a></div>
                <div class="sticker-ls-footer-btn"><a rel="nofollow" target="_blank" href="https://sweetadultclub.com/plnseqwtbnjuj?t=msg1">Kontakt mig</a></div>
                </div>

                <div class="sticker-ls">
                <a rel="nofollow" target="_blank" href="https://sweetadultclub.com/plnseqwtbnjuj?t=photo2"><img alt="snapchat nude" src="https://snapnsfw.com/i/snapshot/snap/en_b_4_2.jpg"></a>
                <div class="sticker-ls-footer-bio"><a rel="nofollow" target="_blank" href="https://sweetadultclub.com/plnseqwtbnjuj?t=city2"> <span id="city2"></span> / 21</a></div>
                <div class="sticker-ls-footer-btn"><a rel="nofollow" target="_blank" href="https://sweetadultclub.com/plnseqwtbnjuj?t=msg2">Kontakt mig</a></div>
                 </div>

                <div class="sticker-ls">
                <a rel="nofollow" target="_blank" href="https://sweetadultclub.com/plnseqwtbnjuj?t=photo3"><img alt="snapchat nude" src="https://snapnsfw.com/i/snapshot/snap/en_b_4_3.jpg"></a>
                <div class="sticker-ls-footer-bio"><a rel="nofollow" target="_blank" href="https://sweetadultclub.com/plnseqwtbnjuj?t=city3"> <span id="city3"></span> / 25</a></div>
                <div class="sticker-ls-footer-btn"><a rel="nofollow" target="_blank" href="https://sweetadultclub.com/plnseqwtbnjuj?t=msg3">Kontakt mig</a></div>
                 </div>

                <div class="sticker-ls">
                <a rel="nofollow" target="_blank" href="https://sweetadultclub.com/plnseqwtbnjuj?t=photo4"><img alt="snapchat nude" src="https://snapnsfw.com/i/snapshot/snap/en_b_4_4.jpg"></a>
                <div class="sticker-ls-footer-bio"><a rel="nofollow" target="_blank" href="https://sweetadultclub.com/plnseqwtbnjuj?t=city4"> <span id="city4"></span> / 23</a></div>
                <div class="sticker-ls-footer-btn"><a rel="nofollow" target="_blank" href="https://sweetadultclub.com/plnseqwtbnjuj?t=msg4">Kontakt mig</a></div>
                 </div>

            </div>
            </div>

<script>// Getting the country code and name from the user's IP
$.get("https://api.ipdata.co/?api-key=d22b9e7aaf0862869d9633b49db2a325386fa2e94ebcd097fcfe62d9", function (response) {
$("#country_name").html('Country Name: ' + response.country_name);
$("#country_code").html('Country Code: ' + response.country_code);
$("#city").html('' + response.city);
$("#city1").html('' + response.city);
$("#city2").html('' + response.city);
$("#city3").html('' + response.city);
$("#city4").html('' + response.city);
$("#region").html('region: ' + response.region);
}, "jsonp");</script>
